body {
   margin: 0%;
   text-align: center;
   font-family: Tahoma, serif;
   font-size: 25px;
}

p {
    line-height: 2;
}

h1 {
    font-size: 5.625rem; 
   margin: 50px auto 0 auto;
   font-family: "Sacramento", "Brush Script MT", cursive;
   color: #66bfbf;
}

h2{
    font-size: 2.5rem;
    color: #66bfbf;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999f;
}

hr {
    border: dotted #8b360e 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #0d2b2c;
    font-family: tahoma, serif;
    margin: 20px 20px;
    text-decoration: underline;
    font-weight: 1000px;
    
}

a:hover {
    color: white;
}


.widthforboth a {
    color: #ff7b00;
    font-family: tahoma, serif;
    margin: 0%;
    text-decoration: none;
}


#pro {
    font-weight: normal;
}


.myphoto {
    width: 25%;   
}

.html5 {
    width: 25%; 
    float: left;
    margin-right: 30px;
}

.css3 {
    width: 25%;
    float: right;
    margin-right: 30px;    
}


.intro {
    width: 30%;
    margin: auto;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background: #66bfbf;
    padding: 30px;
}

span {
    text-decoration: underline;
}

/* .bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

*/

.top-cloud {
    position: absolute;
    top: 50px;
    right: 200px;
}

.mountain {
    width: 45%;
}


.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.contactme {
    width: 35% ;
    margin: 40px auto;
}

.btn {
    background-color: #0cd7e2;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient (top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Tahoma, serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
    
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient (top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
}

.copyright {
    color: white;
    font-size: 0.6rem;
    padding: 15px 0;
}
